<section class="phx-hero">
  <h1>
    <%= if @current_user do %>
      <%= gettext "Welcome, %{name}!", name: @current_user.email %>
    <% else %>
      <%= gettext "Welcome!" %>
    <% end %>
  </h1>

  <p>Outer is a website with amazing stuff coming soon!</p>
</section>
